<div id="<%= dom_id friend %>">
  <p>
    <strong>Họ Tên:</strong>
    <%= friend.full_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friend.email %>
  </p>

  <p>
    <strong>SĐT:</strong>
    <%= friend.phone %>
  </p>

  <p>
    <strong>Facebook:</strong>
    <%= friend.facebook %>
  </p>

</div>
